.my_index_img{
  width: 50%;
  margin-top: -20%;
}
.my_index_img_bg{
  width: 50%; margin-top: -30%;
}
.my_flexed{
	position:fixed;
}
.my_a_height{
  height: 12.5rem;
}
.my_bot_car_img{
  width: 290px; height: 168px;
}
.my_img{
  width: 100%;  height: 100%;
}

.my_bottom_part{
  height: 14.5rem;
}
.my_nav_p{
  position: fixed !important;
  margin-top: 20rem;
}